.about {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    //margin-bottom: 7rem;
}

.aboutContainer {
    max-width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.aboutBackground {
    height: 20rem;
    z-index: 1;
    background-image: url("../../assets/about2.jpg");
    background-position: center center;
    background-size: cover;
    width: 30rem;
    border-radius: 30px;
    position: relative;
}

.aboutSmall {
    width: 4rem;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    z-index: 5;
}

.animationBackground {
    width: 12rem;
    position: absolute;
    right: -2.1rem;
    bottom: -2.1rem;
    background: #F8F4EB;
    border-radius: 50%;
}

.aboutAnimation {
    width: 100%;
    -webkit-animation: rotate-center 9s linear infinite both;
    animation: rotate-center 9s linear infinite both;
}

.aboutAnimation:hover {
    animation-play-state: paused;
}

.aboutText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1000px) {
    .about {
        text-align: center;
        max-width: 100%;
        height: fit-content;
        margin-top: 30vh;
        padding-top: 70px;
    }

    .aboutText {
        height: 100%;
        gap: 1rem;
    }

    .aboutContainer {
        gap: 20px;
        max-width: 90%;
        flex-direction: column;
    }


    .aboutAnimationContainer, .aboutBackground {
        max-width: 100%;
    }

    .aboutBackground {
        height: 30vh;
    }

    .animationBackground, .aboutSmall {
        display: none;
    }

}